<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Recipes</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading" sec:authorize="!isAuthenticated()">
                    <h1 class="panel-title" th:text="#{label.recipes}">Recipes</h1>

                </div>
                <div class="panel-heading" sec:authorize="isAuthenticated()">
                    <h1 class="panel-title" th:text="#{label.user.recipes}">My Recipes!</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th th:text="#{table.id}">ID</th>
                                <th th:text="#{table.recipe.description}">Description</th>
                                <th th:text="#{table.view}">View</th>
                                <th sec:authorize="isAuthenticated()">Update</th>
                                <th sec:authorize="isAuthenticated()">Delete</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td th:text="${recipe.id}">123</td>
                                <td th:text="${recipe.description}">Tasty Goodnees 1</td>
                                <td><a href="#">View</a> </td>
                            </tr>
                            <tr th:remove="all">
                                <td th:text="${recipe.id}">12333</td>
                                <td th:text="${recipe.description}">Tasty Goodnees 2</td>
                                <td><a href="#">View</a> </td>
                            </tr>
                            <tr th:each="recipe : ${recipes}">

                                <td th:text="${recipe.id}">334</td>
                                <td th:text="${recipe.description}">Tasty Goodnees 3</td>
                                <td><a href="#" th:text="#{table.view}" th:href="@{'/recipe/' + ${recipe.id} + '/show'}">View</a></td>
                                <td sec:authorize="isAuthenticated()"><a th:text="#{table.update}" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/update'}">Update</a></td>
                                <td sec:authorize="isAuthenticated()"><a th:text="#{table.delete}" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/delete'}">Delete</a></td>
                            </tr>
                        </table>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <a class="btn btn-default" href="#"
                           th:href="@{/recipe/new}" role="button" th:text="#{button.addNewRecipe}">Add New recipe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" th:replace="fragments/footer :: footer">
    <p>footer</p>
</div>
</body>
</html>