<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Recipe Home</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>

<!--<div class="container">-->

    <div class="container">


        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">User details:</h1>
                    </div>
                    <div class="panel-body">
                            <div class="col-md-8 form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-form-label">Username:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p th:text="${user.username}">uName</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-form-label">First Name:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p th:text="${user.firstName}">fName</p>
                                    </div>
                                </div>
                                    <div class="row">
                                    <div class="col-md-6">
                                        <label class="col-form-label">Last Name:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p th:text="${user.lastName}">lName</p>
                                    </div>
                                </div>
                            </div>
                        <div class="col-md-4 form-group">
                            <img align="left" alt="Recipe"
                                 src="/images/avatar.jpg"
                                 th:src="@{'/images/'+${user.avatar}}"
                                 style="width: -moz-available"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="card border-0 shadow my-5">
            <div class="card-body p-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h1 class="panel-title">Change your password</h1>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 form-group">

                                <form class="form-signin" th:object="${user}" method="POST" action="/users/edit" enctype="utf8">
                                    <input type="hidden" th:field="*{id}"/>
                                    <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                                        <p th:text="#{user.hasErrors}">Error Message</p>
                                    </div>

                                    <div class="form-group row" th:class="${#fields.hasErrors('password')} ? 'form-group row has-error' : 'form-group row'">
                                        <label class="col-sm-5 col-form-label">New Password:</label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control" th:field="*{password}" th:errorclass="has-error"/>
                                            <span class="help-block" th:if="${#fields.hasErrors('password')}">
                       <ul>
                           <li th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
                       </ul>
                </span>
                                        </div>
                                    </div>

                                    <div class="form-group row" th:class="${#fields.hasErrors('matchingPassword')} ? 'form-group row has-error' : 'form-group row'">
                                        <label class="col-sm-5 col-form-label" th:text="#{label.user.confirmPass}">Confirm New Password:</label>
                                        <div class="col-sm-6">
                                            <input type="password" class="form-control" th:field="*{matchingPassword}" th:errorclass="has-error"/>
                                            <span class="help-block" th:if="${#fields.hasErrors('matchingPassword')}">
                       <ul>
                           <li th:each="err : ${#fields.errors('matchingPassword')}" th:text="${err}"/>
                       </ul>
                </span>
                                        </div>
                                    </div>

                                    <input type="submit" class="btn btn-success btn-rounded btn-sm my-0" role="button" value="Submit">
                                    <input type="reset" class="btn btn-danger btn-rounded btn-sm my-0" role="button" value="Clear" />
                                </form>
                                <div th:if="${message != null}" class="alert alert-danger">
                                    <p th:text="${message}">Error Message</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--</div>-->
<div class="container" th:replace="fragments/footer :: footer">
    <p>footer</p>
</div>
</body>
</html>