<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipe Home</title>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>

<div class="container">
    <div class="jumbotron" th:replace="fragments/jumbotron :: jumbotron"></div>
    <div class="row recipe-list list">
        <div class='row recipe-list list'>
            <div th:each="recipe,it : ${recipes}">
                <div th:if="${(it.count gt 0 and it.count lt 4)}">
                    <div th:replace="fragments/recipediv :: recipediv">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row recipe-list list">
        <div class='row recipe-list list'>
            <div th:each="recipe,it : ${recipes}">
                <div th:if="${(it.count gt 3 and it.count lt 7)}">
                    <div th:replace="fragments/recipediv :: recipediv">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" th:replace="fragments/footer :: footer">
    <p>footer</p>
</div>
</body>
</html>